.userToggle .toggle-input {
  display: none;
}
.userToggle .toggle-content {
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  cursor: pointer;
  background-image: none;
  min-width: 64px;
  max-width: 128px;
}
.userToggle .toggle-content .userAvatar {
  align-self: center;
  width: 64px; height: 64px;
}
.userToggle .toggle-content .toggle-label {
  top: 64px;
  height: 2.5em;
  bottom: 0;
  font-size: small;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  text-overflow: clip;
  overflow: hidden;
  overflow-wrap: break-word;
}
.toggle-label:hover {
  overflow: visible;
}
.userToggle .toggle-input:checked + .toggle-content .toggle-label{
  background: rgb(25, 78, 33);
}
